* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(blockoopsofficalbg.png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size:cover;

    background-clip: border-box; 
     overflow: hidden;
}

#gameContainer {
    width: 300px;
    height: 500px;
    background-color: white;
    border: solid 3px black;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-sizing: border-box;
}

#left, #right{
    width: 50%;
    position:absolute;
    height: 500px;
}

#right{
    left: 50%;   
}

#character {
    width: 100px;
    height: 100px;
    position: relative;
    top: 300px;
    left: 0px;
}

img {
    width: 100px;
    height: 100px;
}

#block {
    width: 100px;
    height: 100px;
    position: relative;
}

#cmd-bttns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 310px;
    margin-left: 140px;
    padding: 5px;
    padding-left: 10px;
    /* top: 250px;
    left: 1.5%; */
}
#startBtn,
#changeBtn,
#alertBoxBtn {
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: xx-small;
    font-weight: bold;
    border: solid 2px black;
    border-radius: 10px;
    background-color: black;
    color: white;
    position: relative;
    display: inline-block;
    align-items:center;
    justify-content:center;
    padding: 10px;
    margin: 10px;
   
}

#eegg {
    color: crimson;
}

/* animation for the block to slide down */

@keyframes slideDown {
    0% {
        top: 0px;
    }

    90% {
        top: 300px;
    }
}


/* ---------------------MEDIA QUERY------------------------ */

@media only screen and (min-width: 1200px){
    #cmd-bttns{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    #startBtn,
    #changeBtn,
    #alertBoxBtn {
    font-size: large;
    margin: 5px;
}
}
